* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

body, html {
    font-family: ReithSans, Arial, Helvetica, sans-serif;

}

.links {
    color: black;
    text-decoration: none;
}

li {
    display: inline;
    font-weight: bold;

}

.not-found {
    background-color: #4847AF;
    color: white;
}

.searchBoxInput {
    background-color: #E4E4E4;
    border: none;
}
.bbc-homepage {
    color: #4847AF;
    text-decoration: none;
}

main {
    text-align: center;
}