* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body, html {
    font-family: Arial, Ubuntu, sans-serif;

}


li {
    display: inline;

}

.not-found {
    background-color: #4847AF;
    color: white;
}

.searchBoxInput {
    background-color: #E4E4E4;
    border: none;
}
.bbc-homepage {
    color: #4847AF;
}

main {
    text-align: center;
}