* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

body, html {
    font-family: ReithSans, Arial, Helvetica, sans-serif;

}

.header {
    flex-shrink: 0;
}

.links {
    color: black;
    text-decoration: none;
}

li {
    display: inline;
    font-weight: bold;
    border-right: 1px solid #bbb;
}

.not-found {
    background-color: #4847AF;
    color: white;
    font-size: 1.25em;
    padding: 32px 12.80px;
}


.searchBoxInput {
    background-color: #E4E4E4;
    border: none;
}
.bbc-homepage {
    color: #4847AF;
    text-decoration: none;
}

main {
    text-align: center;
}