.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
}

h1 {
    font-family: Arial, Ubuntu, sans-serif;
    text-align: center;
    background-color: white;
    opacity: 0.6;
    margin: auto -1em;
}

@media screen and (max-width: 576px) {
    .jumbotron {
        display: none;
    }
}