#arial {
    font-family: Arial;
}

#courier-new {
    font-family: "Courier New";
}

#times-new-roman {
    font-family: "Times New Roman";
}

#trebuchet-ms {
    font-family: "Trebuchet MS";
}

#verdana {
    font-family: Verdana;
}

#serif {
    font-family: Serif;
}

#sans-serif {
    font-family: sans-serif;
}

#monospace {
    font-family: monospace;
}

#cursive {
    font-family: cursive;
}

#fantasy {
    font-family: fantasy;
}